{% comment %}
  A new card-style layout for publications.
{% endcomment %}
<div class="publication-card" itemscope itemtype="http://schema.org/CreativeWork">
  <header class="publication-header">
    <h2 class="publication-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h2>
    {% if post.authors %}
      <p class="publication-authors" itemprop="author">{{ post.authors }}</p>
    {% endif %}
  </header>
  
  <section class="publication-meta">
    {% if post.collection == 'publications' %}
      <p>
        Published in <em>{{ post.venue }}</em>
        {% if post.date %}
          , {{ post.date | date: "%Y" }}
        {% endif %}
      </p>
    {% elsif post.collection == 'teaching' %}
      <p>
        {{ post.type }}, <em>{{ post.venue }}</em>
        {% if post.date %}
          , {{ post.date | date: "%Y" }}
        {% endif %}
      </p>
    {% endif %}
  </section>
  
  {% if post.excerpt %}
    <section class="publication-excerpt" itemprop="description">
      {{ post.excerpt | markdownify }}
    </section>
  {% endif %}
  
  {% if post.citation %}
    <section class="publication-citation">
      <p>Recommended citation: {{ post.citation }}</p>
    </section>
  {% endif %}
  
  {% if post.paperurl or post.slidesurl %}
    <footer class="publication-links">
      {% if post.paperurl %}
        <a class="btn" href="{{ post.paperurl }}">Download Paper</a>
      {% endif %}
      {% if post.slidesurl %}
        <a class="btn" href="{{ post.slidesurl }}">Download Slides</a>
      {% endif %}
    </footer>
  {% endif %}
</div>
